<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Kod Okuyucu</title>
</head>
<body>
    <video id="preview" width="100%"></video>
    <script src="https://unpkg.com/@zxing/library@latest"></script>
    <script>
      window.addEventListener('load', function () {
        let selectedDeviceId;
        const codeReader = new ZXing.BrowserQRCodeReader();
        console.log('ZXing code reader initialized');

        codeReader.getVideoInputDevices()
            .then((videoInputDevices) => {
                selectedDeviceId = videoInputDevices[0].deviceId;

                // Mobil cihazlarda arka kamera tercih edilir
                if (videoInputDevices.length > 1) {
                    selectedDeviceId = videoInputDevices.find((device) => device.label.includes('back'))?.deviceId || videoInputDevices[0].deviceId;
                }

                return codeReader.decodeFromVideoDevice(selectedDeviceId, 'preview', (result, err) => {
                    if (result) {
                        if(result.text.length==4){
                       
                        alert('QR Kod Okundu: ' + result.text);
                        sendQRData(result.text); }
                        else{
                            alert("qr 4 haneli değil babo")
                        }
                    }

                    if (err && !(err instanceof ZXing.NotFoundException)) {
                        console.error(err);
                        alert('QR Kod Okuma Hatası: ' + err);
                    }
                });
            })
            .catch((err) => {
                console.error(err);
            });
    });

    function sendQRData(qrText) {

      
        // Burada fetch API kullanarak sunucuya POST isteği gönderiyoruz
        fetch('/helper/yoklamakatil', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ code: qrText }) // Burada QR kodundan okunan değeri gönderiyoruz
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('API isteği başarısız.');
            }
            return response.json(); // JSON olarak cevabı dön
        })
        .then(data => {
           alert("Başarılı")
            
            window.location.href = `/home`; // İsteğin sonucuna göre yönlendirme yapabilirsiniz
        })
        .catch(error => {
            console.error('Hata:', error);
        });
    }
    </script>
</body>
</html>
